* {
  scroll-behavior: inherit;
  box-sizing: border-box;
}

.homeContent {
  /*place-content: center flex-start;
  align-items: center;
  background-color: rgb(20, 33, 61);
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 60px;
  height: min-content;
  min-height: 800px;
  overflow: visible;
  padding: 100px;
  position: relative;
  width: 100%;*/

  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(219, 219, 219); */
  transform: translateZ(0px);
  border-radius: 0px;
  gap: 60px;
  padding: 100px;
  position: relative;
  margin-bottom: 15rem;
  bottom: 30px;
}
h1 {
  font-size: 58px !important;
}
.textDiv {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 35px;
  font-family: Merriweather;
  font-weight: 100;
  letter-spacing: -0.6px;
  line-height: 1.2;
  text-align: left;
  color: rgb(239, 132, 37);
  left: 0%;
}
.homeSubSec {
  /* position: relative; */
  overflow: hidden;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 1.2;
  text-align: left;
  white-space: normal;
  color: rgb(23, 36, 64);
}
.homeContent span {
  font-size: 64px;
}

.middleSection {
  /*place-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 40px;
  height: min-content;
  overflow: visible;
  padding: 50px;
  position: relative;
  width: 101%;*/

  /* position: relative; */
  /* width: 100%; */

  overflow: hidden;
  place-content: center;
  align-items: center;
  padding: 100px;
  gap: 50px;
  flex-flow: column;
}

.midDiv h6 {
  width: 430px;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
  white-space: normal;
  color: rgb(20, 33, 61);
  left: 0%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  display: block;
}

.midImg img {
  aspect-ratio: 0.98 / 1;
  border-radius: 40px;
  filter: grayscale(1);
  flex: 1 0 0px;
  height: var(--framer-aspect-ratio-supported, 442px);
  mix-blend-mode: luminosity;
  overflow: hidden;
  position: relative;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1;
  transition: transform 0.13s ease; /* Transition the 'transform' property */
  transform: translateX(0);
}
.tele img {
  border-radius: 40px 200px 200px;
}
.midDiv {
  /* margin-bottom: 8rem; */
  /* padding-left: 2rem; */
  display: flex;
  flex: 0 0 auto;
  height: min-content;
  overflow: hidden;
}
.lastDiv {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 40px;
  height: min-content;
  max-width: 1000px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  transform: perspective(1200px);
  width: 100%;
  z-index: 2;
}
.lastDiv {
  justify-content: center;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
.midDiv {
  animation: slideInLeft 0.5s ease-in;
}

.slideInRight {
  animation: slideInRight 0.5s ease-in;
}
@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}
/*.testimonials {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  gap: 0px;
  height: min-content;
  overflow: hidden;
  padding: 100px;
  position: relative;
  /* width: 100%; */
/* z-index: 0; */

.testimonials {
  place-content: center flex-start;
  align-items: center;
  /* background-color: rgb(20, 33, 61); */
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 58px;
  height: min-content;
  overflow: hidden;
  padding: 100px;
  position: relative;
  width: 100%;
  z-index: 0;
}
.carddd {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  gap: 20px;
  height: min-content;
  max-width: 1000px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  transform: perspective(1200px);
  width: 100%;
  z-index: 2;
}
.card_main {
  place-content: center;
  align-items: center;
  background-color: rgb(203, 200, 200);
  border-radius: 40px;
  display: flex;
  flex: 1 0 0px;
  flex-flow: column;
  gap: 40px;
  height: 450px;
  min-height: 500px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  will-change: var(--framer-will-change-override, transform);
}
.card-img-top {
  flex: 0 0 auto;
  height: 177px;
  /*left: calc(55% - 90px);*/
  padding: 20px;
  position: absolute;
  top: 49px;
  width: 232px;
  z-index: 1;
}
p {
  bottom: 114px;
  flex: 0 0 auto;
  height: auto;
  left: 50%;
  overflow: visible;
  position: absolute;
  transform: translateX(-50%);
  white-space: pre-wrap;
  width: 240px;
  padding: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  z-index: 1;
}

/*.card_main {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border-radius: 40px;
  display: flex;
  /* flex: 1 0 0px; */
/* flex-flow: column;
  gap: 40px;
  height: 400px;
  min-height: 500px;
  overflow: hidden;
  padding: 40px;
  position: relative;*/
/* width: 1px; */
/* will-change: var(--framer-will-change-override, transform); */

.card-text {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.025em;
  /* text-alignment: center; */
  color: rgb(46, 57, 81);
}
